/*SASS document*/
/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* End Reset */
body {
  color: #0b455c; }

@font-face {
  font-family: 'Gotham Thin';
  src: url(../assets/fonts/Gotham-Thin.otf); }
@font-face {
  font-family: 'Gotham Light';
  src: url(../assets/fonts/Gotham-Light.otf); }
@font-face {
  font-family: 'Gotham Medium';
  src: url(../assets/fonts/Gotham-Medium.otf); }
@font-face {
  font-family: 'Gotham Black';
  src: url(../assets/fonts/Gotham-Black.ttf); }
@font-face {
  font-family: 'It Is Definitely Possible';
  src: url(../assets/fonts/It-is-Definitely-Possible.ttf); }
.hidden {
  display: none; }

.clearfix:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both; }

a, a:active, a:hover {
  color: white; }

#mainContainer, #thankyou {
  width: 100%;
  height: 110%;
  min-width: 320px;
  max-width: 1750px;
  margin: 0 auto;
  overflow: hidden;
  font-family: "Gotham Light", Helvetica, Arial, sans-serif;
  font-size: 20px; }

#mainNav {
  color: white;
  position: relative;
  z-index: 900; }
  #mainNav #navBox {
    background: #b26b93;
    /* Old browsers */
    background: -moz-linear-gradient(45deg, #b26b93 1%, #ee9393 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #b26b93 1%, #ee9393 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #b26b93 1%, #ee9393 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b26b93', endColorstr='#ee9393',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */
    margin-top: 0;
    opacity: 0.95;
    -webkit-border-top-left-radius: 12px;
    -webkit-border-bottom-left-radius: 12px;
    -moz-border-radius-topleft: 12px;
    -moz-border-radius-bottomleft: 12px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px; }

i {
  cursor: pointer; }

.fa-bars {
  color: #b26b93;
  z-index: 9999; }

.fa-times-circle-o {
  color: white;
  position: relative;
  z-index: 9999; }

ul {
  padding-bottom: 40px; }

li a {
  font-size: 50px;
  line-height: 90px;
  color: white;
  font-family: 'It Is Definitely Possible';
  margin-left: 20%;
  display: block; }
  li a:hover {
    text-decoration: overline underline blink; }

#logoMenu {
  height: 65px;
  width: 65px;
  float: right;
  margin-bottom: 20px;
  position: relative;
  z-index: 999;
  margin-left: -50px; }

#main-menu, #close-menu {
  display: none; }

i#open-menu, i#close-menu {
  padding-top: 60px; }

.sticky {
  position: fixed; }

h2 {
  font-family: "It Is Definitely Possible", Georgia, Times, serif;
  font-size: 60px;
  font-weight: 400;
  text-align: center;
  padding: 10px 0;
  margin: 10px 0 50px 0;
  background: -webkit-linear-gradient(45deg, #083445 0%, #b26b93 53%, #ee9393 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.bg-image {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 0;
  clear: both; }

.main-position {
  position: relative;
  z-index: 1; }

#mainLogo {
  height: 60%;
  width: 60%;
  margin: 40% 20%; }

#quote {
  position: relative;
  z-index: 1;
  color: #fff;
  width: 200px;
  margin: 0 auto;
  line-height: 30px; }
  #quote p {
    text-align: center;
    font-size: 18px;
    margin-top: -55%; }
  #quote #quote-author {
    margin: 0 auto;
    font-size: 12px;
    font-style: italic;
    text-align: right; }

.fa-angle-double-down {
  color: #fff;
  margin: 15% 45%; }

#services {
  padding-top: 30px;
  text-align: center;
  display: block;
  margin: 0 auto; }
  #services .icons {
    margin: 0 auto;
    margin-top: 10%; }
  #services .icon-last {
    margin: 0 auto;
    margin-top: 10%; }
  #services .icons img {
    margin: 0 auto; }
  #services .services-box {
    height: 180px;
    width: 240px;
    margin: 0 auto;
    margin-top: 15px;
    color: #0b455c;
    border-radius: 8px;
    position: relative; }
  #services h3 {
    background: -webkit-linear-gradient(45deg, #083445 0%, #b26b93 53%, #ee9393 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Gotham Medium", Helvetica, Arial, sans-serif;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 18px; }
  #services p {
    font-size: 12px;
    line-height: 24px;
    padding: 0 20px 5px 20px; }

#about {
  margin-top: 30px;
  font-size: 12px;
  line-height: 24px; }
  #about p {
    text-align: center;
    margin: 95% 5% 10% 5%; }
  #about .button {
    margin: 0 auto;
    display: block;
    margin-bottom: 50px;
    border: none;
    border-radius: 5px;
    font-family: "It Is Definitely Possible", Georgia, Times, serif;
    font-size: 18px;
    background: #b26b93;
    /* Old browsers */
    background: -moz-linear-gradient(45deg, #b26b93 1%, #ee9393 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #b26b93 1%, #ee9393 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #b26b93 1%, #ee9393 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b26b93', endColorstr='#ee9393',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */
    width: 60%; }
    #about .button:hover {
      background: #083445;
      /* Old browsers */
      background: -moz-linear-gradient(45deg, #083445 0%, #b26b93 53%, #ee9393 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(45deg, #083445 0%, #b26b93 53%, #ee9393 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(45deg, #083445 0%, #b26b93 53%, #ee9393 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#083445', endColorstr='#ee9393',GradientType=1 );
      /* IE6-9 fallback on horizontal gradient */ }

#projects {
  margin: 0 auto;
  text-align: center; }
  #projects h3 {
    color: #0b455c;
    font-family: "It Is Definitely Possible", Georgia, Times, serif;
    font-size: 24px;
    margin: 20px 0 30px 0; }
  #projects .projects {
    display: block;
    margin-left: 8%; }
    #projects .projects:hover .trigger {
      opacity: 0.7; }
    #projects .projects:hover h3 {
      color: #b26b93; }

.lightbox {
  display: none;
  margin-top: 10px;
  z-index: 3;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 15px;
  text-align: center;
  position: absolute;
  z-index: 999999;
  position: scroll;
  margin-left: 13%;
  -webkit-box-shadow: 1px 1px 2px 1px rgba(64, 64, 64, 0.5);
  -moz-box-shadow: 1px 1px 2px 1px rgba(64, 64, 64, 0.5);
  box-shadow: 1px 1px 2px 1px rgba(64, 64, 64, 0.5); }
  .lightbox .lightbox-header {
    margin-top: 15px;
    height: 230px;
    clear: both; }
  .lightbox i {
    padding: 15px;
    margin-top: 10px;
    color: #b26b93;
    cursor: pointer; }
  .lightbox .fa-times-circle-o {
    float: right; }
  .lightbox img {
    height: 100%;
    border-radius: 3px;
    opacity: 100%;
    -webkit-box-shadow: 1px 1px 2px 1px rgba(64, 64, 64, 0.5);
    -moz-box-shadow: 1px 1px 2px 1px rgba(64, 64, 64, 0.5);
    box-shadow: 1px 1px 2px 1px rgba(64, 64, 64, 0.5); }
  .lightbox p {
    font-size: 12px;
    line-height: 24px;
    padding: 15px 10px; }
  .lightbox h4 {
    font-family: "It Is Definitely Possible", Georgia, Times, serif;
    font-size: 24px;
    margin-top: 20px; }

#contact {
  z-index: 2;
  position: relative;
  width: 90%; }
  #contact p {
    font-size: 12px;
    line-height: 24px;
    margin-top: -5%;
    margin-bottom: 5%; }
  #contact label {
    font-family: "Gotham Light", Helvetica, Arial, sans-serif;
    color: #0b455c;
    margin-bottom: 10px;
    font-size: 12px; }
  #contact .inputs {
    border-radius: 8px;
    color: #b26b93;
    border-color: #b26b93;
    box-shadow: 3px 3px 10px 1px rgba(133, 133, 133, 0.5);
    -webkit-box-shadow: 3px 3px 10px 1px rgba(133, 133, 133, 0.5);
    -moz-box-shadow: 3px 3px 10px 1px rgba(133, 133, 133, 0.5); }
  #contact input::placeholder {
    color: #b26b93;
    font-size: 12px;
    padding: 10px; }
  #contact .button {
    margin: 0 auto;
    display: block;
    margin-bottom: 50px;
    border: none;
    border-radius: 5px;
    font-family: "It Is Definitely Possible", Georgia, Times, serif;
    font-size: 18px;
    background: #b26b93;
    /* Old browsers */
    background: -moz-linear-gradient(45deg, #b26b93 1%, #ee9393 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #b26b93 1%, #ee9393 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #b26b93 1%, #ee9393 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b26b93', endColorstr='#ee9393',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */
    width: 60%;
    margin-top: 35px; }
    #contact .button:hover {
      background: #083445;
      /* Old browsers */
      background: -moz-linear-gradient(45deg, #083445 0%, #b26b93 53%, #ee9393 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(45deg, #083445 0%, #b26b93 53%, #ee9393 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(45deg, #083445 0%, #b26b93 53%, #ee9393 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#083445', endColorstr='#ee9393',GradientType=1 );
      /* IE6-9 fallback on horizontal gradient */ }
  #contact .street {
    display: none; }

footer #footer-bg {
  z-index: 0;
  position: absolute; }
footer #footer-content {
  padding-top: 10px;
  position: relative;
  z-index: 100; }
footer .logoFooter {
  width: 80px;
  height: 80px;
  margin-bottom: 20%;
  margin: 0 auto;
  display: block; }
footer #social {
  text-align: center;
  margin-top: 10px; }
  footer #social i {
    margin: 0 auto;
    text-align: center;
    padding: 10px 13px;
    position: relative;
    background-color: white;
    color: #b26b93;
    border-radius: 100%;
    font-size: 1.2rem; }
    footer #social i:hover {
      background: #b26b93;
      /* Old browsers */
      background: -moz-linear-gradient(45deg, #b26b93 1%, #ee9393 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(45deg, #b26b93 1%, #ee9393 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(45deg, #b26b93 1%, #ee9393 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b26b93', endColorstr='#ee9393',GradientType=1 );
      /* IE6-9 fallback on horizontal gradient */
      color: white; }
  footer #social .fa-facebook {
    padding: 10px 16px;
    margin: 0 30px; }

#thankyou {
  background: #b26b93;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #b26b93 1%, #ee9393 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #b26b93 1%, #ee9393 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #b26b93 1%, #ee9393 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b26b93', endColorstr='#ee9393',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  height: 100%;
  height: 1000px;
  width: 100%; }
  #thankyou #thankyou-box {
    width: 80%;
    height: 50%;
    background-color: white;
    margin: 0 auto; }
  #thankyou h2 {
    margin-top: 10%;
    color: #0b455c;
    font-size: 1.5em;
    line-height: 1.9em;
    text-align: center;
    padding: 70px 30px 0 30px; }
  #thankyou .button {
    margin: 0 auto;
    width: 40%;
    font-size: 24px;
    margin: 0 auto;
    display: block;
    margin-bottom: 50px;
    border: none;
    border-radius: 5px;
    font-family: "It Is Definitely Possible", Georgia, Times, serif;
    font-size: 18px;
    background: #b26b93;
    /* Old browsers */
    background: -moz-linear-gradient(45deg, #b26b93 1%, #ee9393 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #b26b93 1%, #ee9393 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #b26b93 1%, #ee9393 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b26b93', endColorstr='#ee9393',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */ }
    #thankyou .button:hover {
      background: #083445;
      /* Old browsers */
      background: -moz-linear-gradient(45deg, #083445 0%, #b26b93 53%, #ee9393 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(45deg, #083445 0%, #b26b93 53%, #ee9393 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(45deg, #083445 0%, #b26b93 53%, #ee9393 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#083445', endColorstr='#ee9393',GradientType=1 );
      /* IE6-9 fallback on horizontal gradient */ }

.home-box {
  margin-top: 17%;
  width: 80px;
  float: right;
  margin-right: 2%; }

.logo-header {
  height: 70px;
  margin-top: 16%;
  z-index: 9999;
  margin-left: 5%;
  position: relative; }

.home-button {
  font-size: 4rem;
  position: relative;
  z-index: 999; }

.home-button:hover {
  color: #b26b93; }

.bg-image {
  -webkit-box-shadow: 0px 6px 8px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 6px 8px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 6px 8px 1px rgba(0, 0, 0, 0.75); }

.project-content {
  z-index: 2;
  overflow: hidden;
  clear: both; }
  .project-content h2 {
    margin-top: 18%;
    margin-bottom: 20px;
    font-size: 2.5rem;
    padding-bottom: 10px;
    background: -webkit-linear-gradient(45deg, #083445 0%, #b26b93 53%, #ee9393 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .project-content .project-desc {
    width: 95%;
    margin: 0 auto;
    padding: 20px 25px;
    margin-bottom: 30px;
    border: 8px solid transparent;
    -moz-border-image: -moz-linear-gradient(45deg, #b26b93 1%, #ee9393 100%);
    -moz-border-image: -o-linear-gradient(45deg, #b26b93 1%, #ee9393 100%);
    -moz-border-image: -webkit-linear-gradient(45deg, #b26b93 1%, #ee9393 100%);
    -webkit-border-image: -webkit-linear-gradient(45deg, #b26b93 1%, #ee9393 100%);
    border-image: linear-gradient(45deg, #b26b93 1%, #ee9393 100%);
    border-image-slice: 1; }
    .project-content .project-desc p {
      font-size: 0.75rem;
      line-height: 1rem; }
    .project-content .project-desc p:last-child {
      margin-top: 15px; }
  .project-content .brief-title {
    font-weight: bolder;
    color: #b26b93;
    text-transform: uppercase;
    font-size: 0.85rem;
    padding-right: 5px; }
  .project-content .project-image {
    width: 96%;
    margin-left: 2%;
    border-radius: 10px;
    box-shadow: 0 1rem 1.5rem -0.5rem rgba(0, 0, 0, 0.8), 20px -10px 30px -30px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 0 1rem 1.5rem -0.5rem rgba(0, 0, 0, 0.8), 20px -10px 30px -30px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0 1rem 1.5rem -0.5rem rgba(0, 0, 0, 0.8), 20px -10px 30px -30px rgba(0, 0, 0, 0.8); }
  .project-content .left:hover i.ion-arrow-left-c.arow, .project-content .left:hover i.ion-arrow-right-c.arow, .project-content .right:hover i.ion-arrow-left-c.arow, .project-content .right:hover i.ion-arrow-right-c.arow {
    background: #006189;
    /* Old browsers */
    background: -moz-linear-gradient(45deg, #006189 0%, #b26b93 67%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #006189 0%, #b26b93 67%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #006189 0%, #b26b93 67%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006189', endColorstr='#b26b93',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */ }
  .project-content .left:hover h6, .project-content .right:hover h6 {
    color: #0b455c; }
  .project-content i.ion-arrow-left-c.arow, .project-content i.ion-arrow-right-c.arow {
    font-size: 1.5rem;
    padding: 10px 15px;
    border-radius: 100%;
    background: #b26b93;
    /* Old browsers */
    background: -moz-linear-gradient(45deg, #b26b93 1%, #ee9393 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #b26b93 1%, #ee9393 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #b26b93 1%, #ee9393 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b26b93', endColorstr='#ee9393',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */ }
  .project-content h6 {
    color: #b26b93;
    font-weight: bolder;
    margin-top: -15px;
    font-size: 0.8rem; }
  .project-content #bottomNav {
    margin: 55px 0; }
    .project-content #bottomNav .left {
      position: relative;
      z-index: 1;
      margin-left: -3%; }
      .project-content #bottomNav .left h6 {
        margin-left: 10px; }
  .project-content .right {
    position: relative;
    z-index: 33;
    margin-top: -23px;
    width: 150px; }
  .project-content .back-to-top {
    float: right;
    margin-right: 10px;
    margin-bottom: 15px;
    padding: 10px 15px;
    border-radius: 100%;
    z-index: 9999;
    color: white;
    background: #b26b93;
    /* Old browsers */
    background: -moz-linear-gradient(45deg, #b26b93 1%, #ee9393 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #b26b93 1%, #ee9393 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #b26b93 1%, #ee9393 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b26b93', endColorstr='#ee9393',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */ }
    .project-content .back-to-top:hover {
      background: #006189;
      /* Old browsers */
      background: -moz-linear-gradient(45deg, #006189 0%, #b26b93 67%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(45deg, #006189 0%, #b26b93 67%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(45deg, #006189 0%, #b26b93 67%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006189', endColorstr='#b26b93',GradientType=1 );
      /* IE6-9 fallback on horizontal gradient */ }

@media screen and (min-width: 31.25em) {
  /*500*/
  #navBox ul {
    margin-top: 10px;
    margin-left: 20px; }
  #navBox li a {
    line-height: 110px; }

  i#open-menu, i#close-menu {
    margin-right: 30px; }

  footer .logoFooter {
    width: 95px;
    height: 95px; }
  footer i {
    margin: 0 auto;
    text-align: center;
    padding: 10px 13px;
    position: relative;
    background-color: white;
    color: #b26b93;
    border-radius: 100%;
    font-size: 1.4rem; }

  #thankyou h2 {
    margin-top: 10%;
    color: #0b455c;
    font-size: 2em;
    line-height: 1.8em;
    text-align: center;
    padding-top: 70px; }

  .project-content #bottomNav .left h6 {
    margin-left: -20px; } }
@media screen and (min-width: 40em) {
  /*640*/
  .project-content #bottomNav .left h6 {
    margin-left: 10px; }

  #mainNav {
    padding: 40px 40px 10px 0;
    margin: -40px 0 0 -40px; }
    #mainNav ul {
      margin-left: 10%; }
    #mainNav li a {
      font-size: 30px;
      margin-left: 20px;
      line-height: 50px; }
    #mainNav #logoMenu {
      height: 50px;
      width: 50px; }

  #mainLogo {
    height: 30%;
    width: 30%;
    margin: 10% 35%; }

  #quote {
    width: 300px;
    line-height: 30px; }
    #quote p {
      text-align: center;
      font-size: 14px;
      margin-top: -10%; }

  .fa-angle-double-down {
    margin: 0 50%; }

  #services {
    margin-top: 12%;
    width: 106%;
    height: 110%; }
    #services .icons, #services .icon-last {
      margin-top: 0; }
    #services .services-box {
      background-color: #fff;
      height: 130%;
      width: 110%;
      margin-left: 3%;
      color: #fff;
      padding: 0 10px 20px 10px; }
    #services h3 {
      margin: 0;
      font-size: 18px;
      color: #0b455c; }
    #services p {
      line-height: 20px;
      padding: 0;
      color: #0b455c; }
    #services #marketing {
      margin-left: 2%; }
    #services #design {
      margin-left: 8%; }

  #about {
    margin-top: 30px; }
    #about p {
      margin: -5% 0 5% -11%;
      width: 120%; }
    #about img {
      margin-right: 25px; }

  #projects .projects {
    margin-left: 10%; }
    #projects .projects:last-child {
      float: left; }

  .lightbox {
    margin-left: 0%;
    margin-top: 1%; }
    .lightbox img {
      height: 120%;
      border-radius: 8px; }
    .lightbox h4 {
      margin-top: 60px; }
    .lightbox p {
      font-size: 14px;
      line-height: 22px; }

  #contact p {
    line-height: 22px; }
  #contact img {
    margin-top: 50px; }

  footer #footer-content {
    padding-top: 0px;
    position: relative;
    z-index: 100; }
  footer #social {
    margin: 30px 0 0 30px; }
  footer .logoFooter {
    margin-right: 3%; }

  #thankyou {
    background: #b26b93;
    /* Old browsers */
    background: -moz-linear-gradient(45deg, #b26b93 1%, #ee9393 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #b26b93 1%, #ee9393 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #b26b93 1%, #ee9393 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b26b93', endColorstr='#ee9393',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */
    height: 80%;
    height: 1000px;
    width: 100%; }
    #thankyou h2 {
      margin-top: 10%;
      color: #0b455c;
      font-size: 2.2em;
      line-height: 2.1em;
      text-align: center;
      padding-top: 70px; }

  .home-box {
    margin-top: 2%;
    width: 70px;
    float: right;
    margin-right: 2%; }

  .logo-header {
    height: 60px;
    margin-top: 2%;
    margin-left: 5%; }

  .home-button {
    font-size: 4rem; }

  .projectHeader {
    margin-bottom: 0; }

  .project-content h2 {
    font-size: 40px;
    margin-top: 8%; }
  .project-content #box1 {
    width: 45%;
    float: right;
    overflow: hidden;
    margin-right: 20px; }
  .project-content #box2 {
    width: 45%;
    overflow: hidden;
    margin-left: 20px; }
  .project-content p#box2 {
    margin-top: 0; } }
@media screen and (min-width: 64em) {
  /*1024*/
  .mainheader {
    margin-bottom: 10%; }

  #mainNav {
    padding: 20px 0 30px 0;
    margin-top: 0; }
    #mainNav li a {
      font-size: 45px;
      line-height: 90px;
      margin-left: 70px; }
    #mainNav #logoMenu {
      height: 65px;
      width: 65px;
      margin-bottom: 20px;
      position: relative;
      z-index: 99999; }

  #quote {
    width: 400px;
    line-height: 40px; }
    #quote p {
      font-size: 22px;
      margin-top: -10%; }

  .fa-angle-double-down {
    margin-top: 30px; }

  #services h3 {
    font-size: 26px; }
  #services p {
    padding: 10px;
    font-size: 16px;
    line-height: 26px; }

  #about {
    margin-top: 85px; }
    #about p {
      margin-top: 10px;
      font-size: 18px;
      line-height: 33px; }
    #about .button {
      font-size: 22px; }

  #projects .projects {
    margin-left: 0%; }
    #projects .projects:last-child {
      margin-right: 0%; }

  .lightbox img {
    height: 140%;
    margin-top: -15px; }
  .lightbox h4 {
    margin-top: 120px; }
  .lightbox p {
    font-size: 14px;
    line-height: 30px;
    padding: 20px 90px 40px 90px; }

  #contact {
    margin-top: 45px; }
    #contact p {
      margin: 20px 0;
      font-size: 18px;
      line-height: 24px; }
    #contact label {
      margin-top: 15px;
      font-size: 18px; }
    #contact input::placeholder {
      font-size: 14px;
      padding: 5px 10px; }
    #contact img {
      margin-top: 80px; }
    #contact .button {
      font-size: 22px; }

  footer #footer-content {
    margin: 30px 0 0 -20px;
    padding-top: 20px; }
  footer #social i {
    font-size: 2rem; }

  .project-content h2 {
    font-size: 48px;
    margin-bottom: 3%; }
  .project-content .project-desc {
    margin-bottom: 8%; }
  .project-content #box1, .project-content #box2 {
    font-size: 0.85rem;
    line-height: 1.8rem; }
    .project-content #box1 .brief-title, .project-content #box2 .brief-title {
      font-size: 1rem; }
  .project-content .back-to-top {
    margin-right: 5px; } }
@media screen and (min-width: 74.375em) {
  /*1190*/
  #mainNav {
    padding: 30px 90px 25px 30px;
    margin-top: 0px;
    margin-left: 40px; }
    #mainNav .fa-bars {
      font-size: 2.75em; }
    #mainNav .fa-times-circle-o {
      font-size: 2.75em; }
    #mainNav ul {
      margin-left: 70px; }
    #mainNav li a {
      font-size: 45px; }

  #services {
    margin-left: 5%; }

  .home-box {
    margin-top: 5%;
    width: 70px; }

  .logo-header {
    height: 90px;
    margin-top: 4%;
    margin-left: 0; }

  .home-button {
    font-size: 5rem;
    margin-right: 0; } }
@media screen and (min-width: 85.375em) {
  /*1366*/
  .bg-image {
    left: 0;
    right: 0; }

  .mainHeader {
    max-width: 1750px;
    margin-bottom: 15%; }
    .mainHeader .fa-angle-double-down {
      margin-top: 80px;
      margin-bottom: 0; }

  #mainNav {
    padding-bottom: 100px;
    margin-right: 0;
    width: 65%; }

  #services {
    margin: 0 auto;
    margin-top: 18%;
    display: block; }

  .about-box {
    margin-left: -8%;
    width: 50%; }
    .about-box img {
      margin-left: 200px; }

  #projects, #contact {
    margin-top: 70px; }

  #contact img {
    margin-top: 10px; }
  #contact p {
    line-height: 36px; }
  #contact label {
    padding: 5px 0; }
  #contact .button {
    margin-top: 10%; }

  footer #social {
    margin: 50px 0 0 -50px; }
  footer .logoFooter {
    height: 110px;
    width: 110px;
    margin-top: 20px; } }

/*# sourceMappingURL=main.css.map */
