/*SASS document*/

@import "reset";
@import "global";
@import "fonts";


.hidden {
  display: none;
}

.clearfix:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

#mainContainer
{
  width: 100%;
  min-width: 320px;
  max-width: 1750px;
  height: 100%;
  margin: 0;
  overflow: hidden;
  // background-color: rgb(255, 195, 218);
  font-family: $font-main;
  font-size:20px;
}

.mainNav
{
  background-color: $mainPink;
  color: white;
  position: relative;
  z-index: 2;
}

h2
{
  font-family: $font-title;
  color: $mainBlue;
  font-size: 60px;
  font-weight: 400;
  text-align: center;
  margin: 10px 0 50px 0;
}

.bg-image
{
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 0;
  clear:both;
}

.main-position
{
  position: relative;
  z-index: 1;
}

#mainLogo
{
  height: 60%;
  width: 60%;
  margin: 40% 20%;
}

#quote
{
  position: relative;
  z-index: 1;
  color: #fff;
  width: 200px;
  margin: 0 auto;
  line-height: 30px;
  // background-color: rgb(177, 52, 86);
  p
  {
    text-align: center;
    font-size: 18px;
    margin-top: -55%;
    // background-color: rgb(150, 130, 7);
  }
  #quote-author
  {
    margin: 0 auto;
    font-size: 12px;
    font-style: italic;
    text-align: right;
    // background-color: rgb(52, 159, 105);
  }
}

.fa-angle-double-down
{
  color: #fff;
  margin: 15% 45%;
}
#services
{
  padding-top: 30px;
  text-align: center;
  display: block;
  margin: 0 auto;
  .icons
  {
    // background-color: rgb(120, 31, 175);
    margin: 0 auto;
    margin-top: 10%;
  }
  .icon-last
{
  margin: 0 auto;
  // background-color: rgb(120, 31, 175);
  margin-top: 10%;
}
.icons img
{
  margin: 0 auto;
}
  .services-box
  {
    background-color: $mainBlue;
    height: 250px;
    width: 240px;
    margin: 0 auto;
    margin-top: 15px;
    color: #fff;
    border-radius: 8px;
    position: relative;
  }
  h3
  {
    font-family: $font-subtitle;
    padding-top:20px;
    padding-bottom:10px;
    font-size: 18px;
  }
  p
  {
    @include smallParagraph;
    padding:0 20px 5px 20px;
  }
}

#about
{
    margin-top: 30px;
    @include smallParagraph;
    p
    {
    text-align: center;
    margin: 95% 5% 10% 5%;
  }
  .button
  {
    @include button;
    width: 60%;
  }
}

#projects
{
  margin: 0 auto;
  text-align: center;
  h4
  {
    font-family: $font-title;
    // font-weight: bold;
    font-size: 24px;
    margin: 20px 0 30px 0;
  }
  .projects
  {
    display: block;
    margin-left: 8%;
    &:hover
    {
    img{
      opacity: 0.7;
      }
    h4{
    color:$mainPurple;
    font-weight: bold;
  }
    }
  }
#project6
  {
  margin-left: 11%;
  margin-right: 9%;
  display: block;
  }
}

#contact
{
  z-index: 2;
  position: relative;
  width: 90%;
  p
  {
    @include smallParagraph;
    margin-top: -10%;
    margin-bottom:10%;
  }
  label
  {
    font-family: $font-main;
    color: $mainBlue;
    margin-bottom: 10px;
    font-size: 12px;
  }
  .inputs
  {

    border-radius: 8px;
    color: $mainPurple;
    border-color: $mainPurple;
    box-shadow: 3px 3px 10px 1px rgba(133,133,133,0.5);
    -webkit-box-shadow: 3px 3px 10px 1px rgba(133,133,133,0.5);
    -moz-box-shadow: 3px 3px 10px 1px rgba(133,133,133,0.5);
  }
  input::placeholder
  {
    color:$mainPurple;
    font-size: 12px;
  }
  .button{
    @include button;
    width: 60%;
    margin-top: 35px;
  }
}
footer
{
  z-index: 0;
  height: 290px;
  #footer-bg
  {
    // position: absolute;
    z-index: 0;
    // display: block;
  }
  #footer-content
  {
    position: relative;
    z-index: 0;
    display: block;
    // background-color: rgb(193, 191, 16);
    height: 100px;
    padding-top: 150px;
    margin-top: -150px;
  }
  #logoFooter
  {
    width: 75px;
    height: 75px;
    margin-bottom: 20%;
    margin: 0 auto;
    display: block;
    padding-top: 20px;
    // background-color: rgb(4, 120, 70);
    img{
      margin-top: 50px;
    }
  }
  #social
  {
    text-align: center;
    padding: 5px 30px;
    margin: 0 auto;
    margin-top: 10px;
    // background-color: rgb(103, 224, 18);
  i
  {

    margin: 0 auto;
    padding: 10px;
    background-color: white;
    color: $mainPurple;
    border-radius: 100px;
    &:hover
    {
      @include pinkGradient;
      color:white;
    }
  }
  .fa-facebook
  {
    padding: 10px 13px;
    border-radius: 100px;
    margin: 0 40px;
    // background-color: rgb(33, 163, 167);
  }
  }
}




@media screen and (min-width:40em) { /*640*/
  #mainLogo
  {
    height: 30%;
    width: 30%;
    margin: 10% 35%;
  }

  #quote
  {
    width: 300px;
    line-height: 30px;
    // background-color: rgb(177, 52, 86);
    p
    {
      text-align: center;
      font-size: 14px;
      margin-top: -10%;
      // background-color: rgb(150, 130, 7);
    }
  }

  .fa-angle-double-down
  {
    margin: 0 50%;
  }

  #services
  {
    margin-top: 12%;
    width: 106%;
    height: 110%;
    .icons, .icon-last
    {
      margin-top: 0;
    }
    .services-box
    {
      background-color: #fff;
      height: 130%;
      width: 110%;
      // margin: 0 auto;
      margin-left: 3%;
      color: #fff;
      padding: 0 10px 20px 10px;
    }
    h3
    {
      margin:0;
      font-size: 18px;
      color: $mainBlue;
    }
    p
    {
      line-height: 20px;
      padding:0;
      color: $mainBlue;
    }
    #marketing
    {
      margin-left: 2%;
    }
    #design
    {
      margin-left: 8%;
    }
  }

  #about
  {
      margin-top: 30px;
  p
    {
      margin: -5% 0 5% -11%;
      width:120%;
    }
    img
    {
      margin-right: 25px;
    }
  }

  #projects
  {
    .projects
    {
      margin-left: 0%;
    }
  #project6
    {
    margin-left:0;
    margin-right: 0;
    }
  }

#contact
{
  p
    {
      margin-top: 25% 0 0 0;
      // background-color: rgb(188, 65, 250);
    }
  img
    {
      margin-top: 50px;
    }
}

footer
{
  z-index: 0;
  margin-top: -150px;
  height: 100%;
  #footer-bg
  {
    z-index: 0;
  }
  #footer-content
  {
    position: relative;
    z-index: 1;
    display: block;
    margin-top: 0px;
  }
  #logoFooter-medium
  {
    width: 55px;
    height: 55px;
    z-index: 2;
    position: relative;
    margin: -70px 0 15px 30px;
  }
  #social
  {
    text-align: center;
    position: relative;
    padding: 5px 30px;
    margin-top: 20px;
  }


  .fa-facebook
  {
    padding: 15px 20px;
    border-radius: 75px;
    margin: 0 80px;
  }
}
}

@media screen and (min-width:64em) { /*1024*/

  header
  {
    margin-bottom: 10%;
  }
  #quote
  {
    width: 400px;
    line-height: 40px;
    p
    {
      font-size: 22px;
      margin-top: -10%;
    }
  }

  .fa-angle-double-down
  {
    margin-top: 70px;
  }
  #services{
    h3
    {
      font-size: 26px;
    }
    p
    {
      padding: 10px;
      font-size: 16px;
      line-height: 26px;
    }
  }

  #about
  {
    margin-top: 85px;
    p
    {
      margin-top: 10px;
      font-size: 18px;
      line-height: 33px;
    }
    .button
    {
      font-size: 22px;
    }
  }

#contact
{
  margin-top: 45px;
  p
  {
    margin: 20px 0;
    font-size: 18px;
    line-height: 28px;
  }
  label
  {
    margin-top: 15px;
    font-size: 18px;
  }
  input::placeholder
  {
    font-size: 16px;
    padding: 15px 10px;
  }
  img
  {
    margin-top: 80px;
  }
  .button
  {
    font-size: 22px;
  }
}
footer
{
  #logoFooter-medium
  {
    width: 85px;
    height: 85px;
    margin: -80px 0 20px 70px;
  }
  #social
  {
  i
  {
    padding: 20px;
    margin-top: 20px;
  }
  .fa-facebook
  {
    padding: 20px 23px;
    border-radius: 75px;
  }
}
}

}

@media screen and (min-width:74.375em) { /*1190*/

  #services
  {
    margin-left: 5%;
  }
#logoFooter-medium
    {
      width: 95px;
      height: 95px;
    }
}

@media screen and (min-width:85.375em) { /*1366*/
  header
  {
    margin-bottom: 15%;
    .fa-angle-double-down
    {
      margin-top: 190px;
      margin-bottom: 0;
    }
  }

  #services
  {
    margin: 0 auto;
    display: block;
  }
  .about-box
  {
    margin-left: -8%;
    width: 50%;
    img
    {
      margin-left: 200px;
    }
  }
  #projects, #contact
  {
    margin-top: 70px;
  }
  #contact
  {
    img
    {
      margin-top: 10px;
    }
    p
    {
      line-height: 36px;
    }
    label
    {
        padding: 5px 0;
    }
    .button
    {
      margin-top: 10%;
    }
  }


}


// #hamburger-menu {
//   position: absolute;
//   top: 0;
//   right: 0;
//   font-size: 2.5rem;
//   color: #ffffff;
//   margin: 0.25rem 0.75rem 0 0;
//   cursor: pointer;
//   outline: 0;
//   transition: all 0.6s ease;
// }
